<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Hand</title>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="
   sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
   <link rel="stylesheet" href="{% static 'hand/css/hand_action.css' %}">
</head>
<body>
   <div class="container">
      <div class="row">
         <div class="col-lg-4">
            <form action="" role = "form" method="POST">
               {% csrf_token %}
               <div class = "d-none">
                  {{ hand_form.blinds }}
                  {{ hand_form.num_of_players }}
               </div>
               <div id ="flop-cards" class = "d-none">
                  <h5>Flop Cards</h5>
                  <p>{{ hand_form.flop_1_card }}
                     {{ hand_form.flop_1_card_suit }}</p>
                  <p>{{ hand_form.flop_2_card }}
                     {{ hand_form.flop_2_card_suit }}</p>
                  <p>{{ hand_form.flop_3_card }}
                     {{ hand_form.flop_3_card_suit }}</p>
               </div>
               <div id ="turn-card" class = "d-none">
                  <h5>Turn Card</h5>
                  <p>{{ hand_form.turn_card }}
                     {{ hand_form.turn_card_suit }}</p>
               </div>
               <div id ="river-card" class = "d-none">
                  <h5>River Card</h5>
                  <p>{{ hand_form.river_card }}
                     {{ hand_form.river_card_suit }}</p>
               </div>
               <!-- Titles outside of loop -->
               <h5 id = "h5-info">Player Informations</h5>
               <h5 id = "h5-pre" class = "d-none">PreFlop</h5>
               <h5 id = "h5-flop" class = "d-none">Flop</h5>
               <h5 id = "h5-turn" class = "d-none">Turn</h5>
               <h5 id = "h5-river" class = "d-none">River</h5>
               {% for form in formset %}
                  {{formset.management_form}}
                     {% for hidden in form.hidden_fields %}
                        {{ hidden }}
                     {% endfor %}
                  <div class = "hand-info">
                     <p>{{form.hero}} {{form.position}} {{form.stack}}</p>
                     <p>{{form.first_card}}{{form.first_card_suit}}</p>
                     <p>{{form.second_card}}{{form.second_card_suit}}</p>
                  </div>
                  <div class="pre-info d-none">
                     <p>{{form.pre_action}} {{form.pre_act_amount}}</p>
                  </div>
                  <div class="flop-info d-none">
                     {{form.flop_action}} {{form.flop_act_amount}}
                  </div>
                  <div class="turn-info d-none">
                     {{form.turn_action}} {{form.turn_act_amount}}
                  </div>
                  <div class="river-info d-none">
                     {{form.river_action}} {{form.river_act_amount}}
                  </div>
                  <hr>
               {% endfor %}

               <input type="submit" value = "Add to Lib" class = 'btn btn-success'>
            </form>
         </div>
         <div class = "col-lg-2 progressbar-container">
            <ul class = "progressbar">
               <a href="" id = "go-to-info"><li class = "active" id = "go-to-info-li"><div>Info</div></li></a>
               <a href="" id = "go-to-pre"><li id = "go-to-pre-li"><div>Preflop</div></li></a>
               <a href="" id = "go-to-flop"><li id = "go-to-flop-li"><div>Flop</div></li></a>
               <a href="" id = "go-to-turn"><li id = "go-to-turn-li"><div>Turn</div></li></a>
               <a href="" id = "go-to-river"><li id = "go-to-river-li"><div>River</div></li></a>
            </ul>
         </div>
      </div>
      <div>
         <div id = "capture">
            <div class="row">
               <div>
                  <div class = 'head'>
                     <h5>Blinds</h5>
                     <p>{{hand.blinds}}</p>
                  </div>
                  <div class = "body">
                     {% for play in players %}
                        <div>
                           <p>{{play.hero}} {{play.position}}:</p>
                           {% if play.hero == "H" %}
                              <p><span>{{play.handCards}}</span></p>
                           {% else %}
                              <p><span>Xx Xx</span></p>
                           {% endif %}
                           <p>{{play.stack}}</p>
                        </div>
                     {% endfor %}
                  </div>
               </div>
               <div>
                  <div class = 'head'>
                     <h5>Preflop</h5>
                     <p>{{ hand.potSize }}</p>
                  </div>
                  <div class = "body">
                     {% for play in players %}
                     <div>
                        <p>{{play.pre_action}}:</p>
                        <p>{{play.pre_act_amount}}</p>
                     </div>
                     {% endfor %}
                  </div>
               </div>
               <div id = "flop-display">
                  <div class = 'head'>
                     <h5>{{ hand.flopCards }}</h5>
                     <p>{{ hand.flopPotSize }}</p>
                  </div>
                  <div class = "body">
                     {% for play in players %}
                        <div>
                           <p id = "flop-action">{{play.flop_action}}:</p>
                           <p>{{play.flop_act_amount}}</p>
                        </div>
                     {% endfor %}
                  </div>
               </div>
               <div id = "turn-display">
                  <div class = 'head'>
                     <h5>{{ hand.turn_card }}{{ hand.turn_card_suit }}</h5>
                     <p>{{ hand.turnPotSize }}</p>
                  </div>
                  <div class = "body">
                     {% for play in players %}
                        <div>
                           <p id = "turn-action">{{play.turn_action}}:</p>
                           <p>{{play.turn_act_amount}}</p>
                        </div>
                     {% endfor %}
                  </div>
               </div>
               <div id = "river-display">
                  <div class = 'head'>
                     <h5>River</h5>
                     <p>{{ hand.riverPotSize }}</p>
                  </div>
                  <div class = "body">
                     {% for play in players %}
                        <div>
                           <p id = "river-action">{{play.river_action}}:</p>
                           <p>{{play.river_act_amount}}</p>
                        </div>
                     {% endfor %}
                  </div>
               </div>
            </div>
         </div>
      <div>
         <a href="{% url 'index' %}"><button class = "btn btn-info">Library</button></a>
         <button onclick="screenshot()" class = "btn btn-success">SS</button>
      </div>
   </div>
   <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="
   sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
   <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="
   sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="
   sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
   <script src = "https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.5.0-beta4/html2canvas.min.js"></script>
   <script src = "{% static 'hand/js/hand_action.js' %}" type = "module"></script>
   <script>
      function screenshot() {
         html2canvas(document.querySelector('#capture')).then(canvas => {
            console.log(canvas);
            let dataUrl = canvas.toDataURL('image/png');
            downloadImage(dataUrl)
         });
      };
      function downloadImage(data, filename = 'untitled.png') {
         var a = document.createElement('a');
         a.href = data;
         a.download = filename;
         document.body.appendChild(a);
         a.click();
      };
   </script>
</body>
</html>