#canvas {
   background-color: aqua;
}


.head {
   background-color: black;
   color: white;
   text-align: center;
   width: 90px;
}

.head h5 {
   margin: 0
}

.head p {
   color: #FBE7B5;
}

.body {
   background-color:#414042;
   height: 100%;
}
.body div {
   background-color: white;
   color: #414042;
   margin: 5px;
   border-radius: 15%;
   border: 1px solid black;
   height: 35%;
   text-align: center;
}
.body p {
   margin: 0;
}

#handhistory {
   height: 400px;
}

.progressbar-container {
   text-align: center;
   height: 100%;
}

.progressbar {
   padding: 0px 5px;
}

.progressbar li {
   list-style-type: none;
   padding: 20px 10px;
   border-radius: 80%;
   background-color:#41B619;
   border: 1px solid #116315;
   width: 50%;
   margin: 10px 0px;
}


.progressbar li.active {
   background-color: #FFC11E;
}

/* .progressbar-container ul:before {
   content: '';
   position: absolute;
   width:2px;
   height: 100%;
   top: 0;
   left: 0;
   background-color:#414042;
} */


